@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
:root {
    --white: #fff;
    --lightpink: #fef3f9;
    --pink: #d16e99;
    --brown: #280e19;
  }
  
  
  body {
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: #280e19;
  }
  body h1,
  body h2 {
    font-family: "Cinzel Decorative";
  }
  .logo img {
    width: 15vw;
    margin-top: 2vh;
    margin-left: 3vw;
  }
  input[type="text"].search-text {
    padding: 2vh 5vw 2vh 1vw;
    border-color: var(--brown);
    margin-left: 35vw;
    margin-top: 5vh;
  }
  .header1 {
    display: flex;
  }
  .number {
    display: flex;
  }
  .fa-search {
    position: absolute;
    left: 71vw;
    top: 7.5vh;
  }
  .number p {
    margin: 0px;
    size: 120%;
    margin-top: 0.6vh;
    margin-left: 1vw;
  }
  .number {
    margin-left: 8vw;
    margin-top: 5vh;
  }
  .number i {
    width: 32px;
  }
  .navbar {
    margin-top: 10vh;
    margin-left: 8vw;
  }
  .navbar a {
    color: black;
    text-decoration: none;
    margin-left: 2.2vw;
    margin-top: 2vh;
    font-weight: 400;
  }
  .navbar a:hover {
    color: var(--pink);
  }
  .navbar a:visited {
    color: var(--brown);
  }
  .navbar {
    display: flex;
  }
  .navbar-right {
    display: flex;
    margin-left: 10vw;
  }
  .navbar-right i:hover {
    color: #d16e99;
    cursor: pointer;
  }
  .navbar-right p {
    margin: 0px;
    margin-left: 1vw;
    font-size: 90%;
  }
  .header-heart {
    margin-right: 3vw;
    color: #d16e99;
  }
  i.header-heart:hover {
    color: #280e19;
  }
  .header-cart {
    margin-left: 5vw;
  }
  @media (max-width: 1024px) {
    header {
      display: none;
    }
  }
  .home h1 {
    font-family: "Cinzel Decorative";
    font-size: 250%;
    width: 40vw;
    margin-left: 10vw;
    color: var(--brown);
    margin-top: 18vh;
    line-height: 9vh;
  }
  .home p {
    font-size: 80%;
    margin-left: 10vw;
    width: 30vw;
  }
  .home {
    display: flex;
    background-image: url("Aromatic.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5vh;
    padding-bottom: 30vh;
  }
  .home-left button {
    padding: 2vh 2.5vw 2vh 2.5vw;
    border: none;
    background-color: #280e19;
    color: #fff;
    font-weight: 100;
    margin-left: 10vw;
    margin-top: 5vh;
    cursor: pointer;
  }
  .about {
    margin-left: 13vw;
    font-family: "Cinzel Decorative";
    font-size: 150%;
  }
  .about-img {
    display: flex;
    margin-top: 8vh;
  }
  .about-left img {
    width: 35vw;
    border-radius: 0px 0px 0px 50px;
  }
  .about-right {
    margin-left: 5vh;
  }
  .about-right img {
    height: 35vh;
    width: 35vw;
  }
  img.him {
    border-radius: 0px 50px 0px 0px;
    margin-bottom: 4vh;
  }
  .shopdiv {
    margin-top: 20vh;
    margin-left: 14vw;
  }
  .shopdiv h1 {
    font-family: "Cinzel Decorative";
    font-size: 180%;
  }
  .plot img {
    width: 10vw;
    height: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .plot h2 {
    font-family: "Cinzel Decorative";
    justify-content: center;
    text-align: center;
  }
  .plot {
    width: 28%;
    height: 50vh;
  }
  .plots-top {
    display: flex;
    margin-top: 3vh;
  }
  .plots-bottom {
    display: flex;
    margin-top: 8vh;
  }
  .tags button {
    border: none;
    background-color: white;
    height: 4.714vh;
    margin-right: 0.715vw;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
  }
  .tags button:hover {
    background-color: #fff;
    /* border: none;
      border-color: var(--pink);
      border-radius: 50px;
      border-style: solid;
      border-width: 2px; */
    padding: 3px 1.43vw 3px 1.43vw;
  }
  .plot {
    margin-right: 3.575vw;
    width: 20vw;
    box-shadow: 3px 3px 25px #c4c4c4;
    padding: 3vh 1vw 5vh 1vw;
    border-radius: 5px;
    overflow-y: hidden;
  }
  .tags {
    margin-left: 3vw;
  }
  .plot h4 {
    margin: 0px;
    font-family: "Cinzel Decorative";
    margin-top: 4vh;
    text-align: center;
    font-size: 60%;
  }
  .plot h2 {
    margin-top: 0px;
    margin-bottom: 1.5vh;
    font-size: 110%;
  }
  .plot i {
    margin-left: 17vw;
  }
  .plot i:hover {
    color: var(--pink);
    cursor: pointer;
  }
  .checked {
    color: orange;
  }
  .stars {
    margin-left: 5vw;
    margin-bottom: 0.3vh;
  }
  .plot:hover {
    height: 60vh;
  }
  button.buy {
    margin-top: 3.4vh;
    border: none;
    color: #fff;
    background-color: #280e19;
    padding: 2vh 2.5vw 2vh 2.5vw;
    margin-left: 5vw;
    cursor: pointer;
  }
  .fa-star {
    cursor: pointer;
  }
  .process {
    margin-left: 10vw;
    margin-top: 20vh;
    display: flex;
  }
  .process h2 {
    font-family: "Cinzel Decorative";
    font-size: 170%;
    font-weight: 700;
    margin-top: 13vh;
  }
  .process p {
    font-size: 83%;
    width: 20vw;
    margin-top: 6vh;
  }
  input[type="text"].subscribe-text {
    padding: 2vh 5vw 2vh 0vw;
    border-color: var(--brown);
    margin-top: 5vh;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .process img {
    width: 25vw;
    margin-right: 2vw;
  }
  img.img-first {
    border-radius: 00px 0px 0px 50px;
  }
  img.img-second {
    border-radius: 0px 50px 0px 0px;
  }
  input[type="button"] {
    border: none;
    color: #fff;
    background-color: #280e19;
    padding: 2vh 6.5vw 2vh 6.5vw;
    cursor: pointer;
    margin-top: 5vh;
  }
  .process-left {
    margin-right: 5vw;
  }
  .review {
    padding-left: 10vw;
    margin-top: 10vh;
    padding-top: 15vh;
    background-color: var(--lightpink);
    padding-bottom: 10vh;
  }
  .review h1 {
    font-family: "Cinzel Decorative";
    font-size: 160%;
    margin: 0px;
  }
  .review P {
    font-size: 80%;
    margin-top: 2vh;
  }
  .review-paper {
    margin-top: 5vh;
    overflow-x: scroll;
    white-space: nowrap;
    margin-right: 10vw;
  }
  .paper-top-left h6 {
    margin: 0px;
    font-weight: 100;
    margin-top: 0.5vh;
  }
  .paper-top {
    display: flex;
  }
  .paper-top-left h2 {
    margin: 0px;
  }
  .paper-top-right {
    margin-left: 10vw;
  }
  .paper {
    display: inline-block;
    margin-right: 3vw;
    /*background-color: #fff;*/
    padding: 40px;
    width: 30vw;
    height: 30vh;
  }
  span.span-p {
    width: 400px;
    word-wrap: break-word;
    white-space: normal;
  }
  .paper1 {
    border-radius: 70px 0px 0px 0px;
  }
  .paper4 {
    border-radius: 0px 0px 70px 0px;
  }
  .review-paper::-webkit-scrollbar {
    width: 0.1vw;
    height: 1vh;
  }
  
  .review-paper::-webkit-scrollbar-track {
    box-shadow: none;
    width: 0.1vw;
    height: 1vh;
  }
  
  .review-paper::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    outline: 1px solid var(--brown);
    width: 0.1vw;
    height: 1vh;
  }
  .services {
    margin-top: 5vh;
    padding-top: 15vh;
    margin-left: 10vw;
    margin-bottom: 5vh;
  }
  .card h3 {
    font-family: "Cinzel Decorative";
    font-size: 90%;
    margin-top: 4vh;
    margin-bottom: 2px;
  }
  .card p {
    width: 18vw;
    font-size: 85%;
    margin-top: 1vh;
    word-wrap: break-word;
    
    
  }
  .card {
    padding: 5vh 5vw 5vh 5vw;
    width: 25vw;
  }
  .card i {
    color: #d16e99;
  }
  .services {
    display: flex;
  }
  .column {
    display: flex;
    margin-top: 10vh;
    margin-left: 15vw;
  }
  .column h3 {
    margin: 0px;
    margin-right: 10vh;
    font-size: 200%;
  }
  .clavin-h3 {
    font-weight: 100;
  }
  .guess-h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .naurica-h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .lanvin-h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }
  .rimmel-h3 {
    font-family: cursive;
  }
  footer {
    background-color: var(--lightpink);
    margin-top: 40vh;
    padding-top: 7vh;
    padding-left: 7vw;
    padding-bottom: 7vh;
  }
  .columns {
    display: flex;
  }
  .column1 img {
    width: 15vw;
  }
  .row {
    margin-left: 8vw;
  }
  .row p {
    margin-top: 1vh;
    margin-bottom: 0px;
  }
  .social i {
    color: #d16e99;
    margin-right: 1vw;
  }
  .Payment {
    color: #d16e99;
  }
  .column4 h2 {
    font-size: 95%;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 1vh;
    margin-top: 2vh;
  }
  .column5 {
    margin-top: 5vh;
  }
  .columns i:hover {
    color: #280e19;
    cursor: pointer;
  }
  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pink);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover,
  .hvr-sweep-to-right:focus,
  .hvr-sweep-to-right:active {
    color: var(--brown);
  }
  .hvr-sweep-to-right:hover:before,
  .hvr-sweep-to-right:focus:before,
  .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(
      center,
      ellipse,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.35) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover,
  .hvr-float-shadow:focus,
  .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #d16e99;
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before,
  .hvr-float-shadow:focus:before,
  .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--pink);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before,
  .hvr-underline-from-left:focus:before,
  .hvr-underline-from-left:active:before {
    right: 0;
  }
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover,
  .hvr-grow-shadow:focus,
  .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  @-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover,
  .hvr-pop:focus,
  .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover,
  .hvr-shrink:focus,
  .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--pink);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover,
  .hvr-radial-out:focus,
  .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before,
  .hvr-radial-out:focus:before,
  .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .pop {
    position: absolute;
    display: inline-block;
    background-color: var(--lightpink);
    top: 10vh;
    left: 30%;
    justify-content: center;
    padding: 10vh 5vw 10vh 10vw;
    width: 30vw;
  }
  .select .plot {
    margin-top: 5vh;
    width: 20vw;
    overflow-x: hidden;
  }
  .pop i,.popTwo i{
    margin-left: 30vw;
  }
  .pop {
    display: none;
  }
  .pop h2 {
    margin: 0px;
    font-size: 90%;
  }
  p.price {
    margin: 0px;
  }
  .stars {
    margin-left: 3vw;
  }
  .tags {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  input[type="button"].subscribe-text:hover{
      background-color: #d16e99;
      color: #280e19;
  }
  .popTwo{
      position: absolute;
      display: inline-block;
      background-color: #fff;
      top: 20vh;
      left: 0;
      right: 0;
      width: 5000vw;
      justify-content: center;
      padding: 10vh 20vw 10vh 20vw;
      width: 30vw;
      display: none;
  }
  .cart .plot{
      overflow-x: hidden;
      height: 60vh;
      margin-bottom: 10vh;
  }
  .popTwo h2{
      justify-content: center;
  }
  .cart .plot i.fa-heart{
      display: none;
  }
  .cart .plot img{
      margin-left: 5vw;
      margin-right: 0px;
  }
  .cart .plot h4{
      text-align: start;
      margin-left: 5vw;
  }
  .cart .plot h2{
      text-align: start;
      margin-left: 7vw;
  }
  .bottom-pop-two{
      display: flex;
  }
  .top-popTwo i.fa-times{
      margin-left: 0vw;
  }
  .bottom-popright{
      margin-left: 10vw;
  }
  .popTwo{
      width: 1000vw;
  }
  .bottom-popright h5{
      margin: 0px;
  }
  .bottom-popright hr{
      margin-bottom: 8vh;
  }
  .bottom-popright h5{
      font-size: 120%;
      font-weight: 100;
      margin-bottom: 2vh;
  }
  .bottom-popright button{
      cursor: pointer;
      border: none;
      color: #fff;
      background-color: #280e19;
      padding: 2.5vh 12vw 2.5vh 12vw;
      margin-top: 10vh;
  }
  span.items-display,span.price-display{
      margin-left: 20vw;
  }
  .ham-menu{
      display: none;
  }
  @media (max-width: 1024px) {
      body {
        overflow-x: hidden;
        width: 100%;
      }
      .home {
        padding-top: 15vh;
        /*background-image: url("short.png");*/
        fill-opacity: 0.1;
      }
      .home-left {
        width: 100%;
        width: 700vw;
        margin-right: 0px;
        background-color: rgba(255, 255, 255,0.7);
        width: 80vw;
        padding: 10px;
      }
      .home-left h1 {
        margin: 0px;
        font-size: 120%;
        line-height: normal;
        width: 80vw;
        margin-left: 10vw;
      }
      .home-left p {
        width: 50vw;
        margin-top: 4vh;
        font-size: 50%;
      }
      .home-left button{
          padding: 12px 20px 12px 20px;
      }
      .about-img{
          display: inline-block;
      }
      .about-img img{
          width: 90vw;
          height: inherit;
          margin-left: 0px;
          margin-top: 2vh;
          margin-bottom: 2vh;
      }
      .about{
          margin-left: 3vw;
      }
      .about h1{
          margin: 0px;
          margin-top: 10vh;
      }
      .shopdiv{
          margin-top: 5vh;
          margin-left: 10vw;
      }
      .plots-top,.plots-bottom{
          display: block;
      }
      .plot{
          width: 80vw;
          margin-bottom: 3vh;
          height: 60vh;
      }
      .plot img{
          width: 50vw;
      }
      .plot i{
          margin-left: 70vw;
      }
      .plot .tags{
          margin-left: 19vw;
      }
      button.buy{
          margin-left: 25vw;
          padding: 12px 20px 12px 20px;
          margin-top: 1vh;
      }
      .process{
          display: block;
      }
      .process h2{
          margin: 0px;
          font-size: 130%;
      }
      .process p{
          width: 80vw;
          margin-top: 3vh;
      }
      .process img{
          display: none;
      }
      .review{
          display: none;
      }
      .services{
          display: block;
          padding-top: 0px;
          padding-bottom: 20vh;
      }
      .card{
          width: 80vw;
      }
      .card p{
          width: 70vw;
      }
      .card i{
          margin-left: 40%;
      }
      .column{
          display: none;
      }
      footer{
          display: none;
      }
      
    }
    